<div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light"><span class="icon icon-lg icon-chevron-up"></span></a>
<% if(theme.share){ %>
<%- partial('post/share', {scope: 'global'}) %>
<% } %>

<%- 鼠标特效 %>
<script src="<%- url_for(theme_js('assets/scripts/hxjzg', cache)) %>"></script>